*::-webkit-scrollbar {
    width: 1vh;
}
*::-webkit-scrollbar-track {
    background: white;
}
*::-webkit-scrollbar-thumb {
    background-color: #d6d6d6;
    /* -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); */
    border-radius: 5vh;
}

/* Styles pour les labels */
.checkbox-container {
    display: flex;
    position: relative;
    padding-left: 4vh;
    margin-bottom: 2vh;
    cursor: pointer;
    font-size: 2vh;
    line-height: 4vh;
    user-select: none;

    border-radius: 0.5vh;
    outline: solid white;
    outline-width: 0.3vh;
}

/* Cacher le bouton radio */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Style du checkmark */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2vh;
    width: 2vh;
    background-color: #eee;
    border-radius: 100%;
    margin: 1vh;
}
.checkbox-container .checkmark:after {
    content: "";
    position: relative;
    display: none;
    left: 0.5vh;
    top: 0.5vh;
    width: 1vh;
    height: 1vh;
    border-radius: 100%;
    outline: solid white;
    outline-width: 0.3vh;
}

/* Si survolé */
.checkbox-container input:hover ~ .checkmark {
    background-color: white;
}
.checkbox-container input:hover ~ .checkmark:after {
    display: block;
    outline: solid #eee;
}
.checkbox-container:has(input:hover) {
    outline: solid #eee;
    background-color: #eee;
}

/* Si sélectionné */
.checkbox-container input:checked ~ .checkmark {
    background-color: #4bea7d;
}
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container:has(input:checked) {
    outline: solid #4bea7d;
}

/* Contenus déroulants */
.hidden-content {
    display: none;
    position: relative;
    flex-direction: column;
}
.hidden-content.active {
    display: flex;
}

/* Pages */
html
{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
body
{
    color:black;
    margin:0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    background: url(Medias/background.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
div.space
{
    margin: 6vh 0 6vh 0;
    height: 0.2vh;
    width: 60vw;
    background:#ffffff4f
}
section {
    width: 80vh;
    padding: 5vh;
    height: auto;
    background-color: white;
    -webkit-box-shadow: 0px 5px 23px 6px rgba(0,0,0,0.2); 
    box-shadow: 0px 5px 23px 9px rgba(0,0,0,0.3);
    border-radius: 2vh;
}
img {
    width: 80vh;
    height: auto;
    border-radius: 2vh;
}
@media (max-width: 90vh) {
    section {
        width: calc(100vw - 10vh);
        padding: 5vh;
        height: auto;
        background-color: white;
        border-radius: 0;
    }
    img {
        width: calc(100vw - 10vh);
    }
}

/* Textes */
h1 {
    display: flex;
    align-self: center;
    position: relative;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 10vh;
    line-height: auto;
    text-align: center;
    letter-spacing: 0;
    color: white;
    margin: 0%;
    text-shadow: 0px 5px 18px rgba(0,0,0,0.2);
    margin: 5vh;
}
h2 {
    display: flex;
    align-self: center;
    position: relative;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 8vh;
    line-height: auto;
    text-align: center;
    letter-spacing: 0;
    color: #4bea7d;
    margin: 0%;
}
h3 {
    margin: 0;
    position: relative;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 4vh;
    line-height: auto;
    margin-bottom: 2vh;
    letter-spacing: -0.05em;
    color: black;
}
h4 {
    margin: 0;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2.4vh;
    line-height: auto;
    color: black;
    z-index: 1;
    
    display: flex;
    flex-direction: row;
}
h4::after {
    margin-left: 1vh;
    flex: 1;
    z-index: -1;
    content: "";
    display: block;
    position: relative;
    left: 0;
    top: 1.5vh;
    width: auto;
    height: 0.2vh;
    background: fixed #eee;
}
p, label, div {
    margin: 0;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vh;
    line-height: auto;
    color: black;
}
p {
    margin: 1vh 0 1vh 0;
}
p.alert {
    background-color: #ea7b4b4f;
    border-radius: 0.5vh;
    outline: solid #ea7b4bc5;
    outline-width: 0.3vh;
    padding: 1vh 1.3vh 1vh 1.3vh;
}
span.bubble {
    font-weight: 500;
    font-size: 1.6vh;
    border-radius: 0.5vh;
    line-height: 2vh;
    height: 2vh;
    margin: 0.6vh;
    margin-left: 2vh;
    padding: 0.4vh;
}
@media (max-width: 90vh) {
    span.bubble {
        font-size: 0;
    }
    span.bubble::before, a:hover span.bubble::before {
        background: fixed url(Medias/check.svg) no-repeat; 
        background-size: 100% 100%;
        content: '';
        display: block;
        height: 2vh;
        width: 2vh;
        z-index: 1;
        position: relative;
        transform: translate(0,0);
    }
    a span.bubble::before {
        background: fixed url(Medias/check_hover.svg) no-repeat;
        background-size: 100% 100%;
    }
}
label span.bubble, a:hover span.bubble {
    background-color: #4bea7d;
    color: white;
}
a span.bubble, a:hover {
    background-color: white;
    color: #4bea7d;
}
a {
    margin-bottom: 1vh;
    text-decoration: none;
    padding: 0 1.8vh 0 2.5vh;
    cursor: pointer;
    user-select: none;
    width: auto;

    background-color: #4bea7d;
    color: white;
    font-weight: 400;
    font-size: 1.8vh;
    line-height: 4vh;
    display: flex;

    border-radius: 0.5vh;
    outline: solid #4bea7d;
    outline-width: 0.3vh;
    align-self: start;
}
span.bold { font-weight: bold; margin-left: 1vh;}
a.download::before { background: fixed url(Medias/download.svg) no-repeat; background-size: 100% 100%; }
a.link::before { background: fixed url(Medias/redirection.svg) no-repeat; background-size: 100% 100%; }
a.download:hover::before { background: fixed url(Medias/download_hover.svg) no-repeat; background-size: 100% 100%; }
a.link:hover::before { background: fixed url(Medias/redirection_hover.svg) no-repeat; background-size: 100% 100%; }
a::before {
    margin: 1.1vh 0 1.1vh 0;
    content: '';
    display: block;
    height: 1.8vh;
    width: 1.8vh;
    z-index: 1;
    position: relative;
    right: 1vh;
    transform: translate(0,0);
}