:root {
    --transparent: #ffffff4c ;
    --white: #ffffffb5 ;
    --black: #101010 ;
    --red: #C95563 ;
    --dark_red: #C32645;
    --transparent_red: #ff4c9a55;
    --gray: #adadad94 ;
    --gradient: linear-gradient(45deg, #C32645 0%, #F26CA9 50%, #EE938A 100%);
    --dark_gradient: linear-gradient(45deg, #8A292B 0%, #DC4043 50%, #EE8B9F 100%);
}

html {
    height: 100dvh;
    width: 100vw;
    scroll-behavior: smooth;
    background: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    margin: 0;
    color:black;
    overflow: hidden;
    max-width: 60dvh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1dvh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
}
body:before {
    background: url(Medias/back.webp) no-repeat center center;
    background-size: cover;
    content: "";
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}
@media (min-width: 100.01vh) { /* Ecran d'ordinateur toute taille */
    body:before {
        background: url(Medias/back_large.webp) no-repeat center center;
        background-size: cover;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 1dvh;
}
*::-webkit-scrollbar-track {
    background: none;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(86, 86, 86, 0.345);
    border-radius: 5dvh;
    cursor: pointer;
}

section, .database {
    display: flex;
    opacity: 0;
    pointer-events: none;

    position: absolute;
    padding: 2.5dvh;
    flex-direction: column;
    align-items: center;
}
section {
    width: 80vw;
    max-width: 60dvh;
    min-height: 70dvh;
    background: var(--transparent);

    outline: solid var(--white) 0.3dvh;
    border-radius: 2dvh;
    backdrop-filter: blur(1.5vh);
}
section.current-page, .database.current-page {
    z-index: 5;
    opacity: 1;
    pointer-events: all;
}
section h3, section .bubble, section .heart, section button, section .space { /* --- Transition --- */
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transform: translateX(2.5vh);
    opacity: 0.5;
}
section.current-page h3, section.current-page .bubble, section.current-page .heart, section.current-page button, section.current-page .space {
    transform: translateX(0vh);
    opacity: 1;
}

.database {
    transition: opacity 0.25s ease-in-out;
    width: 100%;
    max-width: 70dvh;
    height: 100%;
}
.database table, .database thead, .database tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media (min-width: 120.01vh) { /* Ecran d'ordinateur toute taille */
    .database thead {
        width: calc(100% - 1vh);
    }
}
.database tbody {
    display: flex; 
    flex-direction: column; 
    overflow-y: scroll; 
    overflow-x: hidden;
    max-height: 86dvh;
    padding: 0.5dvh;
}
.database tr { display: flex; }
.database tbody tr.duo { background: var(--transparent_red); }
.database tbody tr {
    width: 100%;
    border-radius: 2dvh;
    margin-bottom: 1dvh;
    flex-wrap: wrap;

    box-shadow: 0 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
    background: var(--transparent);
    outline: solid var(--white) 0.3dvh;
    backdrop-filter: blur(1.5vh);
}
.database td, .database th {
    width: 28%;
    padding: 0.7vh 1.5dvh;

    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all; 
    white-space: normal;
    color: var(--black);
    font-size: 1.8dvh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    text-align: center;
}
.database td:nth-child(2), .database td:nth-child(5), .database th:nth-child(2) {
    width: 44%;
}
.database th {
    font-size: 2.2dvh;
    font-weight: 800;
    letter-spacing: -0.07dvh;
}
.database tbody tr:last-child {
    margin-bottom: 12dvh; 
}
.database .footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    background: linear-gradient(0deg, #FF8A9E 0%, #ff8a9d00 100%);
    padding: 4dvh;
    position: absolute;
    bottom: 0;
    z-index: 4;
}

.space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4dvh;
    margin: 2.5vh 0 2.5vh 0;
}
.space span {
    width: 43%;
    height: 0.28dvh;
    background: var(--white);
}
.space p {
    font-size: 1.8em;
    color: var(--white);
}
.semi-space {
    height: 4.5dvh;
}
.mini-space {
    height: 1.5dvh;
}

.bubble {
    width: 100%;
    background: var(--white);
    border-radius: 1dvh;
    padding: 1.5vh 2.5dvh;
}
.bubble p, .bubble textarea {
    font-size: 1.8dvh;
    line-height: 2.3dvh;
    color: var(--black);
}
.bubble textarea {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    resize: none;
    height: 2.3dvh;
}
.bubble:has(textarea.champ-message), .bubble:has(p.change-by-partner-message), .bubble:has(p.change-by-user-number) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.bubble textarea.champ-message, .bubble p.change-by-partner-message {
    height: 100%;
    display: flex;
    flex-grow: 1;
}
.bubble:has(textarea.champ-numero) {
    padding: 0;
    display: flex;
    border-radius: 100%;
    width: 18dvh;
    height: 18dvh;
    justify-content: center;
    align-items: center;
}
.bubble textarea.champ-numero {
    font-size: 8dvh;
    line-height: 8dvh;
    height: 8dvh;
    overflow: hidden;
    text-align: center;
}
.bubble textarea::placeholder {
    color: var(--gray);
}
.bubble textarea.active::placeholder {
    color: var(--red);
    opacity: 0.5;
}
.bubble a {
    text-decoration: none;
    font-size: 1.8dvh;
    line-height: 2.3dvh;
    color: var(--red);
    cursor: pointer;
    display: flex;
}
.bubble a::after {
    margin:0;
    content: '';
    display: block;
    height: 2.3dvh;
    width: 2.3dvh;
    left: 0.5dvh;
    background: url(Medias/next.svg) no-repeat;
    background-size: 100% 100%;
    position: relative;
}

h2 {
    width: 100%;
    text-align: center;
    margin: 1.5dvh;
    color: var(--white);
    font-family: 'Inter';
    font-size: 2.8dvh;
    font-weight: 700;
}

h3, .heart span.change-by-partner-class {
    width: 100%;
    text-align: center;
    margin: 0;
    color: var(--black);
    font-family: 'Inter';
    font-size: 2.2dvh;
    font-weight: 800;
}
h3 {
    margin-bottom: 1.5dvh;
}
h3.type2 {
    text-align: start;
    margin: 0.5vh 0;
}
h3 span {
    color: #C32645;
}

.heart {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15dvh;
    background: url(Medias/heart.svg) no-repeat center center;
    background-size: 15vh 15dvh;
    margin: 1.5vh 0 1.5vh 0;

    justify-content: center;
    align-items: center;
}
.heart span.change-by-partner-name, .heart:not(:has(.change-by-partner-class)) span {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-size: 8dvh;
    line-height: 4dvh;
    color: var(--dark_red);
}

button {
    border: none;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.8dvh;
    color: var(--white);
    background: var(--gradient);
    box-shadow: 0 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
    cursor: pointer;

    width: 60%;
    max-width: 30dvh;
    border-radius: 5dvh;
    padding: 1.5vh 0 1.5vh 0;
}
button.negative-action {
    background: var(--dark_gradient);
}

.pub {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 70dvh;
    background: var(--white);
    border-radius: 1vh 1vh 0 0;
    padding: 2.5dvh;
    backdrop-filter: blur(0.5vh);
    position: absolute;
    bottom: 0;
    z-index: 100;
    transition: transform 0.3s ease-out;
}
.pub a {
    text-decoration: none;
    font-size: 1.8dvh;
    line-height: 2.3dvh;
    color: var(--black);
    cursor: pointer;
    display: flex;
}
.pub a::after {
    margin:0;
    content: '';
    display: block;
    height: 2.3dvh;
    width: 2.3dvh;
    left: 0.5dvh;
    background: url(Medias/next_black.svg) no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.pub .close_ad {
    height: 2.3dvh;
    width: 2.3dvh;
    background: url(Medias/cross.svg) no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    right: 2.5dvh;
}
.pub.active {
    transform: translateY(100%);
}
.pub.closed {
    display: none;
}

.horizontal_block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.horizontal_block_item {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.refresh_database {
    top: 3.4dvh;
    width: 4.5dvh;
    padding: 4.5dvh;
    margin: 0;
    padding: 1.5vh;
    justify-content: end;
    align-self: end;
    display: flex;
    position: absolute;
    z-index: 1;
    background: #212121;
    box-shadow: 0 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
    border-radius: 5vh;
    cursor: pointer;
}
.refresh_database::after {
    background: fixed url(Medias/refresh_white.svg) no-repeat;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: 1.5dvh;
    width: 1.5dvh;
    position: relative;
    transform: rotate(0deg) scale(1.3);
}
.refresh_database.active::after {
    animation: refresh_rotation forwards 0.3s ease-in-out;
}

@keyframes refresh_rotation {
    from { transform: rotate(0deg) scale(1.3); }
    to { transform: rotate(-360deg) scale(1.3); }
}