* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    position: fixed;
    height: 100dvh;
    width: 100vw;
    scroll-behavior: smooth;

    font: 5vmin/1.3 Serif;
    overflow: hidden;
    background: black;
    /* background: url(assets/home2.jpg) no-repeat center center; */
    background-size: 100vw 100lvh;
}

body, head {
    display: block;
    font-size: 60vh;
    color: transparent;
}

head::before, head::after,
body::before, body::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: ".";
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
    text-shadow: 1.36676452em 0.5688034749em 5vh #16eaf8;
    animation-duration: 10s;
    animation-delay: -27s;
}

body::after {
    text-shadow: 1.5373233788em 0.6537176019em 5vh rgba(0, 119, 255, 1);
    animation-duration: 10s;
    animation-delay: -32s;
}

head::before {
    text-shadow: 1.5549788167em 0.5708233446em 5vh rgba(96, 0, 255, 1);
    animation-duration: 10s;
    animation-delay: -23s;
}

head::after {
    text-shadow: 1.425730987em 0.6954857473em 5vh #f6257f;
    animation-duration: 10s;
    animation-delay: -19s;
}

@keyframes move {
    from {
        transform: rotate(100deg) scale(12) translateX(-10px);
    }
    to {
        transform: rotate(200deg) scale(18) translateX(10px);
    }
}

body {
    height: 100%;
    width: 200%;
    display: flex;
}
main {
    z-index: 1;
    height: 100%;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: white;
    font-size: 2.3dvh;
    font-weight: 300;
    font-family: 'Outfit';
    letter-spacing: -0.05dvh;

    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}
body.show-map main {
    transform: translateX(-100%);
}

section {
    padding: 2dvh;
    width: 90vw;
    max-width: 90dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.1);
    outline: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.3);
    border-radius: 5dvh;
}
.footer {
    /* margin-top: 2dvh; */
    border-radius: 5dvh 5dvh 0 0;
}
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2dvh;
}

.double-columns {
    display: flex;
    width: 100%;
}
.double-columns .item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.double-columns p {
    max-width: 75%;
    text-align: center;
    margin-top: 2dvh;
}

h1 {
    font-size: 10dvh;
    font-weight: 800;
}
h2 {
    font-size: 3.5dvh;
    font-weight: 600;
    margin: 1dvh 0 1dvh 0;
}
h4 {
    font-size: 2.6dvh;
    font-weight: 500;
    margin-top: 3dvh;
}

p, .rounded-glass-design, .button-design {
    color: rgba(255, 255, 255, 0.7);
}
.button-design {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    line-height: 2.3dvh;

    margin-top: 1dvh;
    border-radius: 5dvh;
    padding: 2dvh 4dvh;
    background-color: #D21C6E;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.15);
    transform: translateY(0px);
    transition: all 0.15s ease-in-out;
}
.button-design::before {
    content: '';
    display: block;
    height: 2.3dvh;
    width: 2.3dvh;
    background: fixed url(assets/save.svg) no-repeat;
    background-size: 100% 100%;
    position: relative;
    right: 0.5dvh;
}
.rounded-glass-design {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    outline: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.5);
    border-radius: 5dvh;
    padding: 2dvh 4dvh;
    line-height: 2.3dvh;
    transition: all 0.15s ease-in-out;
}

.ip-button {
    cursor: pointer;
    margin-top: 1dvh;
}
.ip-button::before {
    content: '';
    display: block;
    height: 2.3dvh;
    width: 2.3dvh;
    background: fixed url(assets/copy.svg) no-repeat;
    background-size: 100% 100%;
    position: relative;
    right: 0.5dvh;
}
.ip-button.copied::before {
    background: fixed url(assets/done.svg) no-repeat;
    background-size: 100% 100%;
}
.map-button {
    background-color: #0784C5;
    margin-top: 3dvh;
}
.map-button::before {
    background: fixed url(assets/search.svg) no-repeat;
    background-size: 100% 100%;
}

@media (min-width: 100dvh) {
    .button-design:hover {
        box-shadow: 0px 8px 7px 0px rgba(0,0,0,0.15);
        transform: translateY(-3px);
        background-color: #e13a85;
    }
    .rounded-glass-design:hover {
        background: rgba(255, 255, 255, 0.2);
        outline: 5px solid rgba(255, 255, 255, 0.3);
    }
    .map-button:hover {
        background-color: #2c98d2;
    }
}